# ===== Database =====
DB_USER=collabu_admin
DB_PASSWORD=collabu_secret_2025

# ===== RabbitMQ =====
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# ===== Redis =====
REDIS_PASSWORD=redis_secret_2025

# ===== JWT =====
JWT_SECRET=collabu-jwt-super-secret-key-change-in-production-2025
JWT_EXPIRATION=3600
JWT_REFRESH_EXPIRATION=604800

# ===== SMTP (Notificaciones email) =====
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@collab-u.udenar.edu.co

# ===== Environment =====
NODE_ENV=development
